.container {
  background-color: var(--white);
  flex-grow: 1;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.06);
  padding: 36px;
  padding-bottom: 0;
  width: 100%;
  max-width: 1200px;
}
@media all and (max-width: 800px) {
  .container {
    padding: 18px;
  }
}
.container h2 {
  padding: 0;
  margin: 0;
  font-size: 13pt;
  font-weight: 600;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 12px;
}
.container p {
  line-height: 150%;
  text-align: justify;
}
