.footer {
  width: 100vw;
  height: 63px;
  background-color: var(--base-blue);
  border-top: 3px solid var(--light-blue);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  color: var(--white);
  font-weight: 600;
}

@media all and (max-width: 800px) {
  .footer {
    height: 39px;
  }
}
