.header {
  width: 100vw;
  height: 69px;
  background: linear-gradient(180deg, #2f5da2 50%, #254980 100%);
  border-bottom: 3px solid var(--light-blue);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  color: var(--white);
  font-size: 9pt;
}
.header a {
  text-decoration: none;
  color: var(--white);
}

@media all and (max-width: 800px) {
  .header {
    height: 48px;
  }
}
