@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1152px !important;
}

input[type="text"],
input[type="text"]:disabled {
  text-align: center;
  font-size: 21px;
  color: #1976d2 !important;
  font-weight: 700;
  border-color: #1976d2 !important;
  -webkit-text-fill-color: inherit;
  background-color: #ffffff;
  padding: 9px;
}
input[type="text"]:disabled {
  background-color: #eff3f8;
}
fieldset {
  border-color: #1976d2 !important;
}
.MuiTextField-root {
  background-color: #ffffff !important;
}
.customInput fieldset {
  border-radius: 0 4px 4px 0 !important;
}
.calculadora .display,
.calculadora .display:disabled,
.calculadora .history,
.calculadora .history:disabled {
  text-align: right;
  font-size: 30px;
  background-color: #ffffff;
  border-color: #c6d1df !important;
}
.calculadora .history,
.calculadora .history:disabled {
  color: #ffffff !important;
}
