.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 960px;
}
@media all and (max-width: 800px) {
  .main {
    align-content: flex-start;
  }
}
