.calcButton {
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}
.calcButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.digit {
  color: #ffffff;
  background-color: #0496ff;
  border-top: 2px solid #62bcfc;
  border-right: 2px solid #014c81;
  border-bottom: 2px solid #014c81;
  border-left: 2px solid #62bcfc;
}
.digit:enabled:active {
  border-top: 2px solid #014c81;
  border-right: 2px solid #62bcfc;
  border-bottom: 2px solid #62bcfc;
  border-left: 2px solid #014c81;
}
.clear {
  color: #ffffff;
  background-color: #d81159;
  border-top: 2px solid #fd2f7a;
  border-right: 2px solid #79002c;
  border-bottom: 2px solid #79002c;
  border-left: 2px solid #fd2f7a;
}
.clear:enabled:active {
  border-top: 2px solid #79002c;
  border-right: 2px solid #fd2f7a;
  border-bottom: 2px solid #fd2f7a;
  border-left: 2px solid #79002c;
}
.operator {
  color: #000000;
  background-color: #f1dabf;
  border-top: 2px solid #fff4e7;
  border-right: 2px solid #a3907a;
  border-bottom: 2px solid #a3907a;
  border-left: 2px solid #fff4e7;
}
.operator:enabled:active {
  border-top: 2px solid #a3907a;
  border-right: 2px solid #fff4e7;
  border-bottom: 2px solid #fff4e7;
  border-left: 2px solid #a3907a;
}
.unity {
  color: #000000;
  background-color: #a0a0a0;
  border-top: 2px solid #d8d8d8;
  border-right: 2px solid #8d8d8d;
  border-bottom: 2px solid #8d8d8d;
  border-left: 2px solid #d8d8d8;
}
.unity:enabled:active {
  border-top: 2px solid #8d8d8d;
  border-right: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  border-left: 2px solid #8d8d8d;
}
.equal {
  color: #ffffff;
  background-color: #33d911;
  border-top: 2px solid #61ff42;
  border-right: 2px solid #1da702;
  border-bottom: 2px solid #1da702;
  border-left: 2px solid #61ff42;
}
.equal:enabled:active {
  border-top: 2px solid #1da702;
  border-right: 2px solid #61ff42;
  border-bottom: 2px solid #61ff42;
  border-left: 2px solid #1da702;
}
