.calculadora {
  padding: 20px;
  background-color: #3a4454;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px auto 50px auto auto auto auto 50px;
  grid-template-areas:
    "history history history history"
    "display display display display"
    "clear clear clear clear"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "equal equal equal equal";
}
.calculadora > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 700;
}
.history {
  grid-area: history;
}
.display {
  grid-area: display;
}
.clear {
  grid-area: clear;
}
.equal {
  grid-area: equal;
}
.historyInput,
.displayInput {
  width: 100% !important;
  height: 95%;
  background-color: #ffffff;
  color: #000000;
  text-align: right;
  font-weight: 700;
  padding: 10px;
}
.historyInput {
  background-color: #a0a0a0;
  color: #ffffff;
  height: 100%;
  border: 2px solid #8d8d8d;
}
.displayInput {
  padding: 0 10px 0 10px;
  font-size: 1.2rem;
}
