* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  font-size: 0.95rem;
}
hr {
  width: 100%;
  border: 0;
  background-color: #c0c0c0;
  height: 1px;
}
.mainContainer {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
header,
footer {
  width: 100vw;
  background-color: #3a4454;
  color: #ffffff;
  text-align: center;
}
header {
  font-weight: 700;
  padding: 20px;
}
footer {
  padding: 10px;
}
main {
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.menuContainer,
.contentContainer {
  width: 60%;
  max-width: 800px;
  height: 90%;
  display: grid;
}
.menuContainer {
  gap: 25px 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.contentContainer {
  gap: 25px 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto;
}
@media all and (max-width: 960px) {
  .menuContainer,
  .contentContainer {
    width: 90%;
    height: 90%;
  }
}
.menuContainer a {
  text-decoration: none;
  color: inherit;
}
.contentContainer a {
  text-decoration: none;
  color: #3076f7;
  font-weight: 700;
}
.breadcrumbs {
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
}
.feature {
  text-align: center;
}
