.calcButton {
  background-color: var(--light-grey);
  border: 1px solid var(--medium-grey);
  color: var(--base-blue);
  font-weight: 700;
  font-size: 21pt;
  cursor: pointer;
  transition: all 0.1s !important;
  user-select: none;
  --webkit-user-select: none;
}
.calcButton:active {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}
.unity {
  background-color: var(--base-blue);
  color: var(--white);
}
.operator {
  background-color: var(--darker-grey);
  color: var(--white);
}
.clear {
  background-color: var(--red);
  color: var(--white);
}
.equal {
  background-color: var(--green);
  color: var(--white);
}
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
