.topNav {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 12px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.topNav div,
.topNav a {
  flex-grow: 1;
  display: flex;
  height: 48px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 12px;
}
.topNav div:last-of-type,
.topNav a:last-of-type {
  margin-right: 0;
}
.topNav a {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--lighter-blue);
}
.topNav a:hover {
  background-color: var(--light-blue);
}
.active {
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
}
.topNav img {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}

@media all and (max-width: 800px) {
  .topNav img {
    margin-right: 0;
  }
  .topNav span {
    display: none;
  }
}
